@model QLNhanSu.Models.ChucVu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChucVu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENCV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENCV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MACV }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
